# Data files and directories
data/

# Virtual environments
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.pt 

# Temporary files
*.tmp
*.temp

# wandb 
notebooks/wandb/
wandb/

# pycache
__pycache__/